{% set photo = breed.photo('card') %}
<article class="card">
  {% if photo %}
    <img src="{{ url_for('static', filename='images/' ~ photo.file) }}" alt="{{ photo.alt }}" loading="lazy">
  {% endif %}
  <div class="card__body">
    <span class="card__eyebrow">{{ breed.group }}</span>
    <h3 class="card__title"><a href="{{ url_for('breed_detail', slug=breed.slug) }}">{{ breed.name }}</a></h3>
    <p class="card__meta">{{ breed.temperament }}</p>
    {% if breed.popularity_rank %}
      <span class="card__rank">#{{ breed.popularity_rank }} most popular</span>
    {% endif %}
  </div>
</article>
