{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block meta_description %}Page not found on the WebMD Care mirror.{% endblock %}
{% block content %}
<div class="container page"><div class="panel static-page" style="text-align:center;padding:60px 20px"><h1>We couldn't find that page</h1><p>The provider, hospital or practice you were looking for isn't listed on WebMD Care. Try a search from the bar above or <a href="{{ url_for('index') }}">return to the home page</a>.</p></div></div>
{% endblock %}
